* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0a0a0a;
    height: 100vh;
    font-family: Arial Black, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.slider {
    position: relative;
    width: min(90vw, 800px);
    overflow: hidden;
    border: 3px solid white;
    box-shadow: 10px 10px 0px white;
}

.slides {
    display: flex;
    transition: transform 0.5s cubic-bezier(.77,0,.18,1);
}

.slides img {
    width: 100%;
    flex-shrink: 0;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    color: black;
    border:  1px solid black;
    font-size: 1.5rem;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.2s;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.btn:hover {
    background: black;
    color: white;
    border: 1px solid white;
}

.text{
    padding-top: 20px;
    color: white;
    text-align: center;
}